<%- include ("header.ejs") %>
<main>
    <table>
        <tr>
            <th></th>
            <th>ID</th>
            <th>DESCRIPTION</th>
            <th>DURATION</th>
            <th></th>
        </tr>
        <% for(let item of data) { %>
            <tr>
                <td><%= item.phase_number %></td>
                <td><%= item.phase_name %></td>
                <td><%= item.phase_duration %></td>
                <td>
                    <form action="/R/Edit" method="get">
                        <input type="hidden" name="id" value="<%= item._id %>">
                        <button>EDIT</button>
                    </form>
                </td>
                <td>
                    <form action="/R/Delete" method="post"
                        onsubmit="return confirm('Confirm deletion of phase');return false;">
                        <input type="hidden" name="id" value="<%= item._id %>">
                        <button>DELETE PHASE</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</main>
<%- include ("footer.ejs") %>
