<%- include ("header.ejs") %>
<main>
    <div id="EditForm">
        <form action="" method="post">
            <label for="Phase1">Phase 1: </label>
            <input type="text" name="Phase1" id="Phase1" value="<% item.Phase1 %>"/>
            <br>
            <label for="Phase2">Phase 2: </label>
            <input type="text" name="Phase2" id="Phase2" value="<%= item.Phase2 %>"/>
            <br>
            <label for="Phase3">Phase 3: </label>
            <input type="text" name="Phase3" id="Phase3" value="<%= item.Phase3 %>"/>
            <br>
            <label for="Phase4">Phase 4: </label>
            <input type="text" name="Phase4" id="Phase4" value="<%= item.Phase4 %>"/>
            <br>
            <br>
            <button>SAVE</button>            
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>